[Unit]
Description=Digital Signage Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=python3 ./main.py
WorkingDirectory=/home/pi/Digital-Signage
[Install]
WantedBy=multi-user.target
