[Unit]
Description=Digital Signage Service

[Service]
Type=simple
User=pi
ExecStart=python3 ./main.py
WorkingDirectory=/home/pi/Digital-Signage
[Install]
WantedBy=multi-user.target

